<!--

<!- Premier type de binding : express ou interpolation->
<h1>{{title}}</h1>
<p>{{showMessage()}}</p>
<p>Mon premier paragraphe</p>
<!- Deuxieme type de binding : binding d'attribut ->
<img [src]="imageURL" />
<!-Troisieme type de binding : binding d'event ->
<input type="button" value="Changer l'image" (click)="changerImage()">
<div>
<!-Qutrieme type de binding : Two ways data binding->
<input type="text" [(ngModel)]="title" />
</div>

<ul>
  <li *ngFor="let j of jours">  {{j}}  </li>
</ul>



-->


<app-first></app-first>
